.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .clients-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
    height: 92px;
    @include mq(mobile-only) {
      flex-basis: calc((100% - 60px) / 2);
    }
    @include mq(tablet) {
      flex-basis: calc((100% - 90px) / 3);
    }
    @include mq(desktop) {
      flex-basis: calc((100% - 180px) / 6);
    }
    
  }
  
  .clients-list__link{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-icon-color);
    border-radius: 4px;
    color: var(--main-icon-color);
    transition: color var(--transition-duration) var(--timing-function);
    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      color: var(--accent-color);
    }
  }
  
  .clients-list__icon {
    fill: currentColor;
  }