body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
  
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
  }
  
  p,
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
  
  button {
    cursor: pointer;
    border: none;
    padding: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .link {
    text-decoration: none;
  }