:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --main-bg-color: #ffffff;
    --features-bg-color: #f5f4fa;
    --main-icon-color: #afb1b8;
    --modal-bg-color: rgba(0, 0, 0, 0.2);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
    --hover-btn-color: #188ce8;
  }